services:
  frontend-prod:
    container_name: "SecondPilot_Frontend"
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "80:8080"

  frontend-dev:
    container_name: "SecondPilot_Frontend_DEV"
    build:
      context: frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    develop:
      watch:
        - action: sync
          path: .
          target: /app
