# Одна строка = одно правило
# # - комментарий
# / в начале - относительный путь от корня репозитория
# / в конце - указывает на директорию
# * - wildcard для любого количества символов
# ? - любой один символ
# ** - любая вложенность директорий

venv/
__pycache__/
*.env
*.json
*.txt